<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6ZQMI_ZdLeEv-SXo-TGlGamD3IVQ7n4k</string>
	<key>GCM_SENDER_ID</key>
	<string>207846391438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentorMe</string>
	<key>PROJECT_ID</key>
	<string>mentorme-4ae20</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorme-4ae20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207846391438:ios:4eab05f03a7fb1f67493df</string>
</dict>
</plist>